<p>
  <span itemscope itemtype="http://schema.org/Person">
    <a itemprop="url" href="http://twitter.com/ronallo"><span itemprop="name">Jason Ronallo</span></a> is the 
    <span itemprop="jobTitle">Associate Head of Digital Library Initiatives</span> at 
    <span itemprop="affiliation" itemscope itemtype="http://schema.org/Library">
      <span itemprop="name">
        <a itemprop="url" href="http://lib.ncsu.edu">NCSU Libraries</a>
      </span>
    </span>
  </span>
</p>
