<p>
  <span>
    <a href="http://twitter.com/ronallo">Jason Ronallo</a> is the 
    Associate Head of Digital Library Initiatives at 
    <a href="http://lib.ncsu.edu">NCSU Libraries</a> 
  </span>
</p>
